body {
  background: #000;
}

.nav {
  position: relative;
}

@media (min-width: 900px) {
  .nav {
    position: absolute;
  }
  .container-principal {
    background-image: url("../img/fondo-portfolio.jpg");
    background-size: 100vw;
    height: 654px;
  }
}

.service-container__subtitle {
  color: #fff;
}

@media (min-width: 900px) {
  .service-container__subtitle {
    display: none;
  }
}

.service-container {
  color: #fff;
}

@media (min-width: 1154px) {
  .service-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
  .service {
    margin: 0;
  }
}

@media (max-width: 900px) {
  .container-principal__title {
    display: none;
  }
}

.container-principal__title {
  font-family: "Inconsolata";
  font-size: 48px;
  font-weight: 700;
  position: absolute;
  margin: 35vh 4vw;
  color: #fff;
}
