.nav {
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px 50px;
}

.nav__logo {
  width: 60px;
}

/* Menu */
.nav__burger div {
  z-index: 100;
  width: 36px;
  height: 7px;
  background-color: #ffffff;
  margin: 11px 0;
}

.nav__burger .first {
  margin-top: 0;
}

/* Nav enlaces */
.nav-bar a {
  text-decoration: none;
  color: #ffffff;
  padding-left: 20px;
  font-family: "Inconsolata";
  font-weight: 700;
  font-size: 24px;
}

@media (min-width: 900px) {
  .nav__burger {
    display: none;
  }
}

@media (max-width: 900px) {
  .nav-bar {
    display: none;
  }
}

/* Nav mobile */
.nav-bar-mobile a {
  text-decoration: none;
  color: #ffffff;
  font-family: "Inconsolata";
  font-weight: 700;
  font-size: 48px;
  margin: 50px;
}

.nav-bar-mobile {
  display: none;
  position: absolute;
  height: 100vh;
  width: 100%;
  background: #161616;
  top: 0;
  left: 0;
  color: white;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.nav-bar-mobile__close {
  background: #161616;
  position: absolute;
  top: 30px;
  right: 20px;
  border: none;
  text-align: center;
  padding: 9px 15px;
  color: #fff;
  font-weight: 700;
  font-size: 40px;
}
